.contaner
  max-width: 1440px

html
  font-size: 16px

body
  font-family: 'Work Sans', sans-serif



.button
  &--all
    display: flex
    align-items: center
    font-size: 1rem
    font-weight: 600
    text-transform: uppercase
    color: #fff
    background-color: $contrast
    border: none
    padding: 1.25rem 3.75rem 1.25rem 1.81rem
    border-radius: 4px
    cursor: pointer
    &::after
      content: ""
      width: 29px
      height: 10px
      background-image: url(../img/Shape.svg)
      background-repeat: no-repeat
      background-position: center
      margin-left: 8px
    &:hover
      background-color: darken($contrast, 10%)
    &:active
      border: 2px solid darken($contrast, 20%)

.button
  &__small
    @include small-btn
    display: flex
    align-items: center
    &::after
      content: ""
      width: 29px
      height: 10px
      transform: rotate(-5.02deg)
      background-image: url(../img/Shape1.svg)
      background-repeat: no-repeat
      background-position: center
      margin-left: 8px
    &:hover
      text-shadow: 4px 4px 2px lighten($btn-color, 40% )
      cursor: pointer
    &:active
      border: 1px solid lighten($btn-color, 40% )
      padding: 3px
      border-radius: 4px
    
*
  box-sizing: border-box    