@media screen and ( max-width: 1260px  )
  .start
    background-position: -33% 103%
  .safe
    &__img__cont
      top: -16%
      left: 30%
  
@media screen and ( max-width: 1136px  ) 
  body
    padding: 0 7px 
  .maintitle
    font-size: 3.5rem
  .influence
    &__small
      flex-wrap: wrap-reverse
      justify-content: space-around
    &__img
      max-width: 28.5rem  
    &__img__cont
      margin: 20px
    &__discriotion
      padding: 20px
      margin-bottom: 63px
      margin-top: -114px
    &__title
      font-size: 1.8rem
      line-height: 2.5rem
      max-width: 300px
    &__pretitle
      line-height: 2rem
      font-size: 0.8rem
    &--img
      width: 29rem
  .discr
    padding: 20px

  .help
    &__cont
      flex-wrap: wrap
      justify-content: space-around
    &__imgcont__cont
      max-width: 28.5rem
    &__img
      max-width: 28.5rem
    &__here
      margin-top: -1rem
      margin-bottom: 8rem
    &__pretitle
      line-height: 2rem
      font-size: 0.8rem
    &__title
      font-size: 1.8rem
      line-height: 2.5rem
      max-width: 300px

  .safe
    &__cont
      flex-wrap: wrap
      justify-content: space-around
    &__item
      margin: 10px
    &__title
      font-size: 1.8rem
      line-height: 2.5rem
      max-width: 300px
    &__pretitle
      line-height: 2rem
      font-size: 0.8rem
    &__img__cont
      top: -21%
      left: 27%

  .top
    &__title
      font-size: 1.8rem
      line-height: 2.5rem
      
    &__pretitle
      line-height: 2rem
      font-size: 0.8rem
  .how
    &__confeti
      display: none
  .need
    &__pretitle
      line-height: 2rem
      font-size: 0.8rem
    &__title
      font-size: 1.8rem
      line-height: 2.5rem
      max-width: 300px
    &__small
      flex-wrap: wrap-reverse
      justify-content: space-around
    &__item
      margin: 20px
    &__item1
      padding: 20px
      margin-bottom: 63px
      margin-top: -114px
      max-width: 28.5rem
    &__img
      max-width: 28.5rem
  .start
    background-color: #e5f3fe
    background-image: url(../img/man.png)
    background-repeat: no-repeat
    
    &__container
      background-position: 87% 101%
      background-color: transparent
    &__man
      display: none
    &__title
      font-size: 1.8rem
      line-height: 2.5rem
      
    &__pretitle
      line-height: 2rem
      font-size: 0.8rem
  .items
    &__small
      flex-wrap: wrap
      justify-content: space-around
  .itm
    margin: 7px 
@media screen and ( max-width: 1033px  )
  .safe
    &__img__cont
      top: -13%   
  .start__container 
    background-position: 96% 101%
