.hero
  marging-bottom: 20px
  &--cont
    
    height: 92vh
    box-sizing: border-box
  &-container
    display: flex
    justify-content: space-between
    position: relative 
  &__text
    line-height: 2.06rem
    margin-top: 2.06rem
    font-size: 1.37rem
    font-weight: 500
    color: $eny-text
  &__button
    margin-top: 2.25rem

.hero__back
  width: 70%
  height: 82vh
  background-image: url(../img/hero1.png)
  background-repeat: no-repeat
  background-position: right center
  background-size: 75%
  

.text
  max-width: 28.12rem
  max-height: 23.93rem
  
  position: absolute
  top: 16%
  left: 10%

.pretitle
  font-size: 1.13rem
  font-weight: 600
  color: $contrast
  position: absolute
  left: 0
  top: 10%

.maintitle
  font-weight: 600
  font-size: 4rem
  color: $text-color
  line-height: 4.25rem
  margin: -0.3rem 0
  position: relative

.first-screen-cont
  width: 30%