

.influence
  &__container
    padding-top: 9.94rem
    padding-bottom: 3.4rem
    background-color: #f9f5f2
  &--img
    width: 31.25rem
    height: 27.25rem
  &__discriotion
    margin-top: -3.87rem
    max-width: 28.5rem
  &__pretitle
    @include over-title
    line-height: 4.62rem
  &__title
    @include second-title
  &__text
    @include section-text
    display: block
    margin-top: -10px
  &__button
    margin-top: 32px
.discr
  font-size: 1rem
  font-weight: 400
  color: $eny-text